<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styleOneChoose.css" class="css">
    <title>Document</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça Login <br> E entre para o nosso time</h1>
            <img src="../public/gatinho.svg" alt="Gatinho" class="left-login-svg">
        </div>
        <div class="right-login">
          
            <div class="card-login">

                <h1>LOGIN</h1>
                <form action="/" method="POST">
                    <div class="textfield">

                    <label for="email"></label>
                    <input type="text" placeholder="Email ou nome de usuário" name="email" required>

                    </div>
                <div class="textfield">
                    <label for="password"> </label>
                    <input type="password" placeholder="Senha" name="password" required>
                    </div>

                    <button type="submit"class="btn-login"> Login</button>
                </form>
                

                <a href="#" text-decoration="none"> Esqueçeu sua senha?</a>

                <a href="/cadastro" class="cadastro-a"><button class="btn-cadastro">Cadastre-se</button></a>
            </div>
        </div>
    </div>
</body>
</html>