<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styleOneChoose.css" class="css">
    <title>Document</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça Login <br> E entre para o nosso time</h1>
            <img src="../public/gatinho.svg" alt="Gatinho" class="left-login-svg">
        </div>
        <div class="right-login">
            <div class="card-login">

                <h1>LOGIN</h1>

                <div class="textfield">
                    <label for="usuario"></label>
                    <input type="text" name ="username" placeholder="Email ou nome de usuário" required>

                </div>
                <div class="textfield">
                    <label for="password"> </label>
                    <input type="password" name ="password" placeholder="Senha" required>
                </div>

                <button class="btn-login"> Login</button>

                <a href="#" text-decoration="none"> Esqueçeu sua senha?</a>

                <a href="/cadastro" class="cadastro-a"><button class="btn-cadastro">Cadastre-se</button></a>
            </div>
        </div>
    </div>
</body>
</html>